* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #555;
    font-size: 20px;
    font-weight: 300;
    background-color: #fff;
    text-rendering: optimizeLegibility;
    font-family: 'Lato', 'Arial', sans-serif;
}

.row {
    margin: 0 auto;
    max-width: 1140px;
}

header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-text-box {
    top: 50%;
    left: 50%;
    width: 1140px;
    position: absolute;
    transform: translate(-50%, -50%);
}

h1 {
    margin: 0;
}